// Primary Palette
$primary-black: #333333;
$primary-green: #17b54c;
$primary-dark-yellow: #e7d532;
$primary-dark-green: #117551;
$primary-white: #d0e5e8;
$primary-blue: #4ac9e5;
$primary-dark-aquamarine: #145766;
$primary-violet: #842dda;
$primary-dark-blue: #240776;

// Soft Palette
$soft-aquamarine: #8effe4;
$soft-yellow: #fff48d;
$soft-violet: #e59bff;
$soft-green: #86ff92;
$soft-blue: #a1b0ff;
$soft-red: #ff8888;

// Soft Grey Palette
$soft-grey-1: #e1e0e0;
$soft-grey-2: #bbbbbb;
$soft-grey-3: #837979;
