// Primary Palette
$primary-black: #333333;
$primary-green: #04a554;
$primary-dark-yellow: #e7d532;
$primary-dark-green: #0c663c;
$primary-white: #f0f0f0;
$primary-blue: #2ce4b6;
$primary-dark-aquamarine: #145766;
$primary-dark-blue: #240776;

// Soft Palette
$soft-aquamarine: #8effe4;
$soft-yellow: #fff48d;
$soft-green: #86ff92;
$soft-blue: #a1b0ff;
$soft-red: #ff8888;

// Soft Grey Palette
$soft-grey-1: #e1e0e0;
$soft-grey-2: #bbbbbb;
$soft-grey-3: #837979;
